{% extends 'ClarolineCoreBundle::mockup/dashboard/dashboard-tool.html.twig' %}

{% block panelTitle %}Les utilisateurs de mes EA - Tous les exercices{% endblock %}

{% block panelRest %}

<div class="panel-body">
    <div class="container-fluid">
        <div class="row features">
            <div class="col-xs-7 col-sm-7 col-md-8 col-lg-11">
                <p><a href="dashboard-view-1.html"><button class="btn btn-primary" title="Cliquez pour retourner à l'accueil des vues"><i class="fa fa-chevron-left"> </i> Mes vues</button></a>
                <a href="#"><button class="btn btn-primary" title="Cliquez pour enregistrer la vue"><i class="fa fa-floppy-o"> </i> Enregistrer</button></a></p>
                <p><strong>Introduction aux sciences du langage | PSY 11 | Forums | Messages publiés</p>
            </div>
            <div class="col-xs-5 col-md-4 col-lg-1">
                <a class="btn btn-xs btn-primary" role="button" href="#" data-toggle="dropdown">
                    Actions
                    <span class="fa fa-gear fa-2x" title="Menu d'actions"></span><i class="caret"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>Envoyer un message</li>
                    <li>Exporter vers Excel</li>
                    <li>Imprimer en PDF</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row features">
<!--                <div class="col-xs-1">
                <p><img src="{{ asset('bundles/clarolinecore/images/mockup/chart_om.png') }}" title="Vue histogramme" height="48px" width="48px"></p>
                <p><img src="{{ asset('bundles/clarolinecore/images/mockup/chart.png') }}" title="Vue bâtonnets" height="48px"></p>
                <p><img src="{{ asset('bundles/clarolinecore/images/mockup/chart-line.png') }}" title="Vue graphique" height="48px"></p>
                <p><img src="{{ asset('bundles/clarolinecore/images/mockup/chart-pie.png') }}" title="Vue en camembert" height="48px"</p>
            </div>
-->
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-responsive table-striped table-hover">
                        <tr>
                            <td></td>
                            <td>Utilisateur</td>
                            <td></td>
                            <td>Nombre de messages publiés</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Jean-Jacques</td>
                            <td style="text-align: center"><i class="fa fa-search" title="Voir détails"></i></td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>David</td>
                            <td style="text-align: center"><a href="dashboard-view-5.html"><i class="fa fa-search"></i></a></td>
                            <td>34</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Philippe</td>
                            <td style="text-align: center"><i class="fa fa-search"></i></td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Nathalie</td>
                            <td style="text-align: center"><i class="fa fa-search"></i></td>
                            <td>21</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Chahira</td>
                            <td style="text-align: center"><i class="fa fa-search"></i></td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Christophe</td>
                            <td style="text-align: center"><i class="fa fa-search"></i></td>
                            <td>23</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <p>
                <span>Développé par <a href="http://www.claroline.net" target="blank">Claroline</a></span>
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'ClarolineNetThemeBundle::site_layout.css.html.twig' %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
          rel="stylesheet"
    />

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
    >
    </script>
    <script type="text/javascript"
            src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"
    >
    </script>

{% endblock %}