{% extends "InnovaMediaResourceBundle::layout.html.twig" %}

{% block media_resource_content %}
    <!-- PANEL HEADER -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h3 class="panel-title">
                    {{_resource.resourceNode.name}}
                </h3>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-primary fa fa-cog" data-toggle="modal" data-target="#mr-options-modal" type="button" name="button" title="{{'options_form_modal_title' | trans({}, 'resource_form')}}"></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <!-- waveform -->
        <hr/>
        <div class="row media-container">
            <div class="col-md-12">
                <div id="audio-player">
                    <div id="wave-timeline"></div>
                    <div id="waveform">
                        <div class="progress progress-striped active" id="progress-bar">
                            <div class="progress-bar progress-bar-info"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <!-- media controls -->
        <div class="row">
            <div class="col-md-12 text-center">
              <div class="btn-group">
                <button type="button" role="button" class="btn btn-default" data-action="backward" title="{{'move_backward' | trans({}, 'media_resource')}}"><i class="fa fa-step-backward"></i></button>
                <button type="button" class="btn btn-default" data-action="play" title="{{'play_pause' | trans({}, 'media_resource')}}">
                    <i class="fa fa-play"></i>
                    /
                    <i class="fa fa-pause"></i>
                </button>
                <button type="button" class="btn btn-default" data-action="forward" title="{{'move_forward' | trans({}, 'media_resource')}}"><i class="fa fa-step-forward"></i></button>
              </div>
              <button type="button" class="btn btn-danger fa fa-flag" title="{{'add_marker' | trans({}, 'media_resource')}}" data-action="mark"></button>
              <button type="button" class="btn btn-default fa fa-question" data-action="help" title="{{'region_help' | trans({}, 'media_resource')}}"></button>
            </div>
        </div>
        <hr/>
        <form role="form" id="media-resource-regions-form" method="post" action="{{path('media_resource_save', {'workspaceId': workspace.id ,'id':_resource.id})}}" name="edit">
            <div class="row">
                <div class="col-md-12 text-right">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary fa fa-floppy-o" title="{{'media_resource_save_regions' | trans({}, 'media_resource')}}"></button>
                    </div>
                </div>
            </div>
            <hr/>
            <!-- segments -->
            <div class="row">
                <div class="col-md-12 text-center regions-container">
                    {% if regions | length > 0 %}
                        {% for region in regions %}
                            <div class="row form-row region" id="{{region.uuid}}" data-uuid="{{region.uuid}}">
                                <div class="col-xs-1">
                                    <div class="time-text start">{{ region.start | hmsTime }}</div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="time-text end">{{ region.end | hmsTime }}</div>
                                </div>

                                <div class="col-xs-8">
                                    <div contenteditable="true" class="text-left note">{{ region.note | raw }}</div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default fa fa-play" title="{{'play_pause' | trans({}, 'media_resource')}}" onclick="playRegion(this);">
                                            <button role="button" type="button" class="btn btn-default fa fa-cog" title="{{'region_config' | trans({}, 'media_resource')}}" onclick="configRegion(this);"></button>
                                            <button role="button" type="button" class="btn btn-danger fa fa-trash-o" title="{{'region_delete' | trans({}, 'media_resource')}}" onclick="deleteRegion(this);"></button>
                                        </div>
                                    </div>
                                    <input type="hidden" class="hidden-start" name="start[]" value="{{ region.start }}" required="required">
                                    <input type="hidden" class="hidden-end" name="end[]" value="{{ region.end }}" required="required">
                                    <input type="hidden" class="hidden-note" name="note[]" value="{{ region.note }}">
                                    <input type="hidden" class="hidden-region-id" name="region-id[]" value="{{ region.id }}">
                                    <input type="hidden" class="hidden-region-uuid" name="region-uuid[]" value="{{ region.uuid }}">
                                    <!-- Region config  -->
                                    <input type="hidden" class="hidden-config-help-region-uuid" name="help-region-uuid[]" value="{{ region.regionConfig.helpRegionUuid ? region.regionConfig.helpRegionUuid : '' }}">
                                    <input type="hidden" class="hidden-config-loop" name="loop[]" value="{{ region.regionConfig.hasLoop ? '1' : '0' }}">
                                    <input type="hidden" class="hidden-config-backward" name="backward[]" value="{{ region.regionConfig.hasBackward ? '1' : '0' }}">
                                    <input type="hidden" class="hidden-config-rate" name="rate[]" value="{{ region.regionConfig.hasRate ? '1' : '0' }}">
                                    <input type="hidden" class="hidden-config-text" name="text[]" value="{{ region.regionConfig.helpText ? region.regionConfig.helpText : '' }}">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>

        <hr/>
        <!-- annotation buttons -->
        <div class="row annotation-container">
            <div class="col-md-12">
                <input type="checkbox" name="toggle-annotation-checkbox" data-on-text="hide" data-off-text="show" data-off-color="warning" checked>
                <hr/>
                <div class="annotation-buttons-container text-center">
                    <button type="button" class="btn annotation-button blue" title="{{'accent_primary' | trans({}, 'media_resource')}}" data-color="blue" data-action="annotate">&nbsp;</button>
                    <button type="button" class="btn annotation-button red" title="{{'accent_secondary' | trans({}, 'media_resource')}}" data-color="red" data-action="annotate">&nbsp;</button>
                    <button type="button" class="btn annotation-button orange" title="{{'accent_weak_vowel' | trans({}, 'media_resource')}}" data-color="orange" data-action="annotate">&nbsp;</button>
                    <button type="button" class="btn annotation-button black" title="{{'accent_no_accent' | trans({}, 'media_resource')}}" data-color="black" data-action="annotate">&nbsp;</button>
                </div>
            </div>
        </div>
        <!-- HTML5 AUdio player used for specific playback (help and configuration) -->
        <audio id="html-audio-player" controls src="">
        <!-- MR Options Modal -->
        <div class="modal fade" id="mr-options-modal" tabindex="-1" role="dialog" aria-labelledby="Options">
            <div role="document" class="modal-dialog">
                <form id="mr-options-form" role="form" novalidate="novalidate" action="{{ path('media_resource_save_options', {'workspaceId': workspace.id ,'id':_resource.id})}}" method="post" {{ form_enctype(form) }} class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{'options_form_modal_title' | trans({}, 'resource_form')}}</h4>
                    </div>
                    <div class="modal-body">
                        <div id="options-alert" class="alert alert-dismissable alert-danger" style="display:none;">
                          {{'media_resource_options_explain' | trans({}, 'media_resource')}}
                        </div>

                        {{ form_start(form) }}
                          <div class="form-group row">
                              <div class="col-md-1">{{ form_widget(form.showAutoPauseView) }}</div>
                              <label class="control-label col-md-11" for="media_resource_options_showAutoPauseView">
                                {{form.showAutoPauseView.vars.label | trans({}, 'resource_form')}}
                              </label>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-1">{{ form_widget(form.showLiveView) }}</div>
                              <label class="control-label col-md-11" for="media_resource_options_showLiveView">
                                {{form.showLiveView.vars.label | trans({}, 'resource_form')}}
                              </label>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-1">{{ form_widget(form.showActiveView) }}</div>
                              <label class="control-label col-md-11" for="media_resource_options_showActiveView">
                                {{form.showActiveView.vars.label | trans({}, 'resource_form')}}
                              </label>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-1">{{ form_widget(form.showExerciseView) }}</div>
                              <label class="control-label col-md-11" for="media_resource_options_showExerciseView">
                                {{form.showExerciseView.vars.label | trans({}, 'resource_form')}}
                              </label>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-1">{{ form_widget(form.showRegionNote) }}</div>
                              <label class="control-label col-md-11" for="media_resource_options_showRegionNote">
                                {{form.showRegionNote.vars.label | trans({}, 'resource_form')}}
                              </label>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-md-12">
                              <label class="control-label" for="media_resource_options_ttsLanguage">
                                {{form.ttsLanguage.vars.label | trans({}, 'resource_form')}}
                              </label>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">{{ form_widget(form.ttsLanguage) }}</div>
                          </div>
                        {{ form_end(form) }}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
                        <button type="submit" id="mr-options-form-submit-btn" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- hidden fields -->
    <input type="hidden" name="type" value="audio">
    <input type="hidden" name="wId" value="{{workspace.id}}">
    <input type="hidden" name="mrId" value="{{_resource.id}}">
    <input type="hidden" name="tts" value="{{_resource.options.getTtsLanguage}}">
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/new/wavesurfer.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/new/util.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/new/drawer.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/new/drawer.canvas.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/new/html-init.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/new/webaudio.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/new/mediaelement.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/new/plugins/wavesurfer.timeline.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/new/plugins/wavesurfer.regions.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/new/plugins/wavesurfer.minimap.js'
    '@InnovaMediaResourceBundle/Resources/public/js/administrate-2.js'
    %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
