{% extends "InnovaMediaResourceBundle::layout.html.twig" %}
{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block media_resource_content %}
    <!-- PANEL HEADER -->
    <div class="panel-heading" style="height: 75px;">
        <form role="form" class="form-inline" id="media_resource_change_view" method="post" action="{{path('media_resource_change_view', {'workspaceId': workspace.id ,'id':_resource.id})}}" name="view">
            <div class="form-row">
                <div class="col-md-4 form-group">
                    <h3 class="panel-title">
                        {{_resource.resourceNode.name}}
                    </h3>
                </div>
                <div class="col-md-8 form-group">
                    {% include "InnovaMediaResourceBundle:MediaResource:toggle-view.html.twig" with {'view': 'exercise'} %}
                </div>
            </div>
        </form>
    </div>
    <!-- PANEL BODY -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="my-flex-row">
                    <div class="text-center player-col" style="width:10%;">
                        <i class="fa fa-font big bordered-top bordered-left bordered-right bordered-bottom" style="height:10%;"></i>
                        <i style="height:20%;cursor:pointer;" id="btn-pause" class="fa fa-step-forward big bordered-left bordered-right"></i>
                        <i style="height:70%;cursor:pointer;" id="btn-play" title="{{'play_pause' | trans({}, 'media_resource')}}" onclick="play()" class="fa fa-play big bordered-top bordered-left bordered-right bordered-bottom"></i>
                    </div>
                    <div class="player-col" style="width:90%;">
                        <div class="help-text"></div>
                        <div id="wave-timeline"></div>
                        <div id="waveform">
                            <div class="progress progress-striped active" id="progress-bar">
                                <div class="progress-bar progress-bar-info"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="help-container" style="display:none;">
                </div>
            </div>
        </div>
    </div>
    <!-- hidden fields -->
    <audio id="html-audio" controls src="" style="display:none;">
    <!-- regions hidden -->

    <div style="display:none;">
        {% if regions | length > 0 %}
            {% for region in regions %}
                <div class="region" id="{{region.uuid}}" data-uuid="{{region.uuid}}">
                    <input type="hidden" class="hidden-start" name="start[]" value="{{ region.start }}">
                    <input type="hidden" class="hidden-end" name="end[]" value="{{ region.end }}">
                    <input type="hidden" class="hidden-note" name="note[]" value="{{ region.note }}">
                    <input type="hidden" class="hidden-region-id" name="region-id[]" value="{{ region.id }}">
                    <input type="hidden" class="hidden-region-uuid" name="region-uuid[]" value="{{ region.uuid }}">
                    <!-- Region config -->
                    <input type="hidden" class="hidden-config-help-region-uuid" name="help-region-uuid[]" value="{{ region.regionConfig.helpRegionUuid ? region.regionConfig.helpRegionUuid : '' }}">
                    <input type="hidden" class="hidden-config-loop" name="loop[]" value="{{ region.regionConfig.hasLoop ? '1' : '0' }}">
                    <input type="hidden" class="hidden-config-backward" name="backward[]" value="{{ region.regionConfig.hasBackward ? '1' : '0' }}">
                    <input type="hidden" class="hidden-config-rate" name="rate[]" value="{{ region.regionConfig.hasRate ? '1' : '0' }}">
                    <input type="hidden" class="hidden-config-text" name="text[]" value="{{ region.regionConfig.helpText ? region.regionConfig.helpText : '' }}">
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <input type="hidden" name="type" value="audio"/>
    <input type="hidden" name="wId" value="{{workspace.id}}"/>
    <input type="hidden" name="mrId" value="{{_resource.id}}"/>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/wavesurfer.js' '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/webaudio.js' '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/drawer.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/drawer.canvas.js' '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/plugins/wavesurfer.timeline.js'
    '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/plugins/wavesurfer.regions.js' '@InnovaMediaResourceBundle/Resources/public/js/libs/wavesurfer/plugins/wavesurfer.minimap.js'
    '@InnovaMediaResourceBundle/Resources/public/js/play-exercise.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
