{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = _resource.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() | striptags | raw }}{% endblock %}

{% block section_content %}
    <resource-heading ng-app="ResourceHeading"></resource-heading>
    <script src="{{ hotAsset('dist/claroline-distribution-main-core-resource-heading.js') }}"></script>

    <div class="panel-body" id="text_content">
        {{ text|raw }}
    </div>
    <div class="panel-footer">
        {% if isEditGranted %}
            <a class="btn btn-primary" href="{{ path('claro_text_edit_form', {'text': _resource.getId()}) }}" role="button">{{ 'edit' | trans({}, 'platform') }}</a>
        {% endif %}
        {% render controller(
        'IcapNotificationBundle:FollowerResource:renderForm',
        {'resourceId': _resource.resourceNode.id, 'resourceClass': _resource.resourceNode.class}
        ) %}
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script>
        window.resourceNodeId = {{ _resource.getResourceNode().getId() }}
    </script>
    <script src="{{ hotAsset('dist/claroline-distribution-main-core-resource-heading.js') }}"></script>
{% endblock %}
