<h3 class="panel-title">
    {{name}} - 
    {% if mode == 'pause' %}
        {{'label_play_mode_pause' | trans({}, 'media_resource')}}
    {% elseif mode == 'live' %}
        {{'label_play_mode_live' | trans({}, 'media_resource')}}
    {% elseif mode == 'active' %}
        {{'label_play_mode_active' | trans({}, 'media_resource')}}
    {% elseif mode == 'free' %}
        {{'label_play_mode_free' | trans({}, 'media_resource')}}
    {% endif %}
</h3>
