<!-- region text transcription row -->
{% if _resource.options.getShowTextTranscription %}
    <div class="row">
        <div class="col-md-12">
            <div class="my-flex-row">
                <div class="text-center player-col" style="width:10%;" onclick="toggleTextTranscription()">
                    <i style="cursor:pointer;" class="fa fa-font big bordered-top bordered-left bordered-right" title="Transcription textuelle"></i>
                </div>
                <div class="player-col" style="width:90%;">
                    <div class="help-text"></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- play buttons and waveform row -->
<div class="row">
    <div class="col-md-12">
        <div class="my-flex-row">
            <div class="text-center player-col" style="width:10%;">
                <!-- Play with sort of "auto pause" mode -->
                <!--
                <i style="height:20%;cursor:pointer;" id="btn-auto-pause" class="fa fa-step-forward big bordered-top bordered-left bordered-right" onclick="autoPause()"></i>
              -->
                <!-- Play / Pause -->
                <i style="height:100%;cursor:pointer;" id="btn-play" title="{{'play_pause' | trans({}, 'media_resource')}}" onclick="play()" class="fa fa-play big bordered-top bordered-left bordered-right bordered-bottom"></i>
            </div>
            <div class="player-col" style="width:90%;">
                <div id="wave-timeline"></div>
                <div id="waveform">
                    <div class="progress progress-striped active" id="progress-bar">
                        <div class="progress-bar progress-bar-info"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Help row -->
<div class="row">
    <div class="col-md-12">
        <div class="help-container" style="display:none;">
          <button class="btn btn-default fa fa-retweet help-item" id="btn-loop" title="{{'region_help_segment_playback_loop' | trans({}, 'media_resource')}}"  onclick="playInLoop()"></button>
          <button class="btn btn-default fa fa-exchange help-item" id="btn-backward" title="{{'region_help_segment_playback_backward' | trans({}, 'media_resource')}}" onclick="playBackward()"></button>
          <button class="btn btn-default help-item" id="btn-slow" title="{{'region_help_segment_playback_rate' | trans({}, 'media_resource')}}" onclick="playSlowly()">x0.8</button>
          <button class="btn btn-default fa fa-file-text-o help-item" id="btn-text" title="{{'region_help_help_text_label' | trans({}, 'media_resource')}}" onclick="showHelpText()">
            <span class="label label-info my-label">1</span>
          </button>
        </div>
    </div>
</div>
<!-- Help text row -->
<div class="row">
    <div class="col-md-12">
        <div class="help-text-container" style="display:none;">
          <span class="help-text-item"></span>
        </div>
    </div>
</div>

<!-- hidden fields -->
<audio id="html-audio" controls src="" style="display:none;"/>

<!-- hidden fields -->

<!-- regions hidden -->
<div style="display:none;">
    {% if regions | length > 0 %}
        {% for region in regions %}
            <div class="region" id="{{region.uuid}}" data-uuid="{{region.uuid}}">
                <input type="hidden" class="hidden-start" name="start[]" value="{{ region.start }}">
                <input type="hidden" class="hidden-end" name="end[]" value="{{ region.end }}">
                <input type="hidden" class="hidden-note" name="note[]" value="{{ region.note }}">
                <input type="hidden" class="hidden-region-id" name="region-id[]" value="{{ region.id }}">
                <input type="hidden" class="hidden-region-uuid" name="region-uuid[]" value="{{ region.uuid }}">
                <!-- Region config -->                
                <input type="hidden" class="hidden-config-loop" name="loop[]" value="{{ region.regionConfig.hasLoop ? '1' : '0' }}">
                <input type="hidden" class="hidden-config-backward" name="backward[]" value="{{ region.regionConfig.hasBackward ? '1' : '0' }}">
                <input type="hidden" class="hidden-config-rate" name="rate[]" value="{{ region.regionConfig.hasRate ? '1' : '0' }}">
                {% for helpText in region.regionConfig.helpTexts %}
                  <input type="hidden" class="hidden-help-texts" name="help-texts[]" value="{{ helpText.text }}">
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
</div>

<!-- regions hidden -->
<input type="hidden" name="type" value="audio"/>
<input type="hidden" name="wId" value="{{workspace.id}}"/>
<input type="hidden" name="mrId" value="{{_resource.id}}"/>
<input type="hidden" name="tts" value="{{_resource.options.getTtsLanguage}}"/>
<input type="hidden" name="textTranscription" value="{{_resource.options.getShowTextTranscription}}"/>

{% block javascripts %}
    {% javascripts output = 'vendor/claroline/plugin/innovamediaresource/js/player-free.js'
    '@InnovaMediaResourceBundle/Resources/js/play-free.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
