<div class="row media-container">
    <!-- play button -->
    <div class="col-md-1">
        <button type="button" class="btn btn-default fa fa-play" id="play" onclick="play()" title="{{'play_pause' | trans({}, 'media_resource')}}"></button>
    </div>
    <!-- play progress -->
    <div class="col-md-11">
        <div class="progress" style="margin-bottom:0px;height:26px;">
            <div id="seekbar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
<!-- regions hidden -->
<div class="row" style="display:none;">
    <div class="col-md-12 text-center regions-container">
        {% if regions | length > 0 %}
            {% for region in regions %}
                <div class="row region" id="{{region.uuid}}" data-uuid="{{region.uuid}}">
                    <input type="hidden" class="hidden-start" name="start[]" value="{{ region.start }}" required="required">
                    <input type="hidden" class="hidden-end" name="end[]" value="{{ region.end }}" required="required">
                    <input type="hidden" class="hidden-note" name="note[]" value="{{ region.note }}">
                    <input type="hidden" class="hidden-region-id" name="region-id[]" value="{{ region.id }}">
                    <input type="hidden" class="hidden-region-uuid" name="region-uuid[]" value="{{ region.uuid }}">
                    <!-- Region config  -->
                    <input type="hidden" class="hidden-config-help-region-uuid" name="help-region-uuid[]" value="{{ region.regionConfig.helpRegionUuid ? region.regionConfig.helpRegionUuid : '' }}">
                    <input type="hidden" class="hidden-config-loop" name="loop[]" value="{{ region.regionConfig.hasLoop ? '1' : '0' }}">
                    <input type="hidden" class="hidden-config-backward" name="backward[]" value="{{ region.regionConfig.hasBackward ? '1' : '0' }}">
                    <input type="hidden" class="hidden-config-rate" name="rate[]" value="{{ region.regionConfig.hasRate ? '1' : '0' }}">
                    <input type="hidden" class="hidden-config-text" name="text[]" value="{{ region.regionConfig.helpText ? region.regionConfig.helpText : '' }}">
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% block javascripts %}

    {% javascripts output='vendor/claroline/plugin/innovamediaresource/js/player-pause.js'
    '@InnovaMediaResourceBundle/Resources/js/play-pause.js'
 %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
